{% extends theme('main.jinja2') %}
{% from "macros.jinja2" import show_connections %}
{% from "macros.jinja2" import connection_details %}
{% block content %}
    <section>
        <h1>Future connections <span class="header-right">filtered: now before start time</span></h1>

        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>ConnectionId</th>
                    <th>Description</th>
                    <th>LSM</th>
                    <th>RSM</th>
                    <th>PSM</th>
                    <th>DSM</th>
                </tr>
                </thead>
                <tbody>
                {{ show_connections(future_connections) }}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h1>Current connections<span class="header-right">filtered: now between start time and end time</span></h1>

        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>ConnectionId</th>
                    <th>Description</th>
                    <th>LSM</th>
                    <th>RSM</th>
                    <th>PSM</th>
                    <th>DSM</th>
                </tr>
                </thead>
                <tbody>
                {{ show_connections(current_connections) }}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h1>Past connections <span class="header-right">filtered: end time no older than a week</span></h1>

        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>ConnectionId</th>
                    <th>Description</th>
                    <th>LSM</th>
                    <th>RSM</th>
                    <th>PSM</th>
                    <th>DSM</th>
                </tr>
                </thead>
                <tbody>
                {{ show_connections(past_connections) }}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
