{% extends theme('main.jinja2') %}
{% from "macros.jinja2" import show_connections %}
{% from "macros.jinja2" import connection_details %}

<pre>
    {% for line in the_content %}
        {{ line }}
    {% endfor %}
</pre>