{% set nsaId="urn:ogf:network:uvalight.net:2013" %}
{% set providerURL="https://nsa.uvalight.net:9443/NSI/services/CS2" %}
{% set discoveryURL="https://nsa.uvalight.net:9443/NSI/discovery.xml" %}
{% set topologyURL="https://nsa.uvalight.net:9443/NSI/uvalight.net:2013.nml.xml" %}
{% set title="nsa.uvalight.net" %}
{% set favicon="/static/images/uva-favicon.ico" %}
{% set footertext=" University of Amsterdam, System and Network Engineering group | <a href=\"http://sne.science.uva.nl\">sne.science.uva.nl</a> |" %}
{% set headertext="""
        <img src=\"https://ivi.fnwi.uva.nl/sne/wp//wp-content/themes/twentyten-sne/images/logo-sne-600x31.png\"/>
        <img src=\"https://ivi.fnwi.uva.nl/sne/wp/wp-content/themes/twentyten-sne/images/logo_uva-300x31.png\"/>
        """ %}