{% macro nav_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
    {% endif %}
{% endmacro %}

{% macro show_connections(connections) %}
    {% for connection in connections %}
        <tr class="rowdetails">
            <td class="center">
                <i class="icon-plus-sign"></i>
                <i class="icon-minus-sign"></i>

                <div class="rowdetails-content">
                    {{ connection_details(connection) }}
                </div>
            </td>
            <td>{{ connection.cid }}</td>
            <td>{{ connection.description }}</td>
            <td>{{ connection.lsm }}</td>
            <td>{{ connection.rsm }}</td>
            <td>{{ connection.psm }}</td>
            <td>{{ connection.dsm }}</td>
        </tr>
    {% endfor %}
{% endmacro %}

{% macro connection_details(connection) %}
    <div class="row-fluid">
        <div class="span6">
            <dl class="dl-horizontal">
                <dt>Start</dt>
                <dd>{{ connection.start }}</dd>
                <dt>End</dt>
                <dd>{{ connection.end }}</dd>
                <dt>Global id</dt>
                <dd>{{ connection.gid }}</dd>
            </dl>
        </div>
        <div class="span6">
            <dl class="dl-horizontal">
                <dt>Bandwidth</dt>
                <dd>{{ connection.bandwidth }}</dd>
                <!--<dt>Version</dt>
                <dd>{{ connection.version }}</dd>-->
                <dt>Requester</dt>
                <dd>{{ connection.requester }}</dd>
                <dd>&nbsp;</dd>
                <dd>&nbsp;</dd>
            </dl>
        </div>
        <dl class="dl-horizontal">
            <dt>Source</dt>
            <dd>{{ connection.source }}</dd>
            <dt>Destination</dt>
            <dd>{{ connection.dest }}</dd>
        </dl>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Child connection ID</th>
            <th>NSA</th>
            <th>LSM</th>
            <th>RSM</th>
            <th>PSM</th>
            <th>DSM</th>
            <th>Error?</th>
        </tr>
        </thead>
        <tbody>

        {% for sub in connection.sub_connections %}
            {% if sub.dsm == True %}
                <tr class="dataplane_active">
                    {% else %}
                <tr>
            {% endif %}
        <td>{{ sub.cid }}</td>
        <td>{{ sub.nsa }}</td>
        <td>{{ sub.lsm }}</td>
        <td>{{ sub.rsm }}</td>
        <td>{{ sub.psm }}</td>
        <td>{{ sub.dsm }}</td>
        <td>none</td>
        </tr>
        {% endfor %}


        </tbody>
    </table>
{% endmacro %}
